<!-- views/partials/header.ejs -->
<header class="main-header">
  <nav class="main-nav">
    <div class="logo"><img src="assets/logo.svg" alt="Logo" /></div>
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- Navigation Links -->
    <ul class="nav-links" id="navLinks">
      <li
        class="<%= (activeRoute === '/' || activeRoute === '/index') ? 'active' : '' %>"
      >
        <a href="/">Home</a>
      </li>
      <li class="<%= (activeRoute === '/text-to-speech') ? 'active' : '' %>">
        <a href="/text-to-speech">Text to Speech</a>
      </li>
      <li class="<%= (activeRoute === '/text-to-text') ? 'active' : '' %>">
        <a href="/text-to-text">Text to Text Conversion</a>
      </li>
      <li
        class="<%= (activeRoute === '/text-summarizer') ? 'active' : '' %>"
      >
        <a href="/text-summarizer">Text Summarizer</a>
      </li>
      <li class="<%= (activeRoute === '/text-analyzer') ? 'active' : '' %>">
        <a href="/text-analyzer">Text Analyzer</a>
      </li>
      <!-- Add more nav links as needed -->
    </ul>
  </nav>
</header>
