<!-- views/pages/text-analyzer.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Wizard - Text Analyzer</title>
    <%- include('../partials/styles') %>
  </head>

  <body>
    <!-- Include the header partial -->
    <%- include('../partials/header') %>

    <!-- Include the main content -->
    <main class="page-text-analyzer">
      <div class="container">
        <h1>Text Analyzer</h1>
        <form id="textAnalyzerForm" action="/analyze" method="post">
          <div class="content-container">
            <textarea
              id="textAnalyzerTextInput"
              class="textarea"
              name="text"
              rows="10"
              cols="40"
              placeholder="Enter Text"
              required
            >
<%= locals.textInput || '' %></textarea
            >
            <!-- Character and Word Count -->
            <div class="count-container">
              <p>
                Character Count:
                <span id="textAnalyzerCharCount"
                  ><%= locals.charCount || 0 %></span
                >
              </p>
              <p>
                Word Count:
                <span id="textAnalyzerWordCount"
                  ><%= locals.wordCount || 0 %></span
                >
              </p>
            </div>
            <div class="button-container">
              <button
                class="button"
                type="submit"
                name="feature"
                value="wordFrequency"
              >
                Word Frequency Analysis
              </button>
              <button
                class="button"
                type="submit"
                name="feature"
                value="sentimentAnalysis"
              >
                Sentiment Analysis
              </button>
              <button
                class="button"
                type="submit"
                name="feature"
                value="posAnalysis"
              >
                Part-of-Speech Analysis
              </button>
              <button class="button" type="submit" name="feature" value="ner">
                Named Entity Recognition
              </button>
            </div>
          </div>
        </form>

        <div class="analysis-result-container">
          <% if (locals.wordFrequencyAnalysisResults) { %>
          <h2>Word Frequency Analysis Results</h2>
          <div>
            <h3>Word Type Frequencies</h3>
            <% locals.wordFrequencyAnalysisResults.typeFreq.forEach((entry) => {
            %>
            <p><%= entry[0] %>: <%= entry[1] %></p>
            <% }); %>
          </div>
          <div>
            <h3>Word Frequencies</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Word</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  <%
                  locals.wordFrequencyAnalysisResults.wordFreq.forEach((entry)=>{
                  %>
                  <tr>
                    <td><%= entry[0] %></td>
                    <td><%= entry[1] %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <% } %><% if (locals.sentimentAnalysisResults) { %>
          <h2>Sentiment Analysis</h2>
          <p><%= locals.sentimentAnalysisResults %></p>
          <% } %> <% if (locals.posAnalysisResult) { %>
          <h2>Part of Speech Analysis Result</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Part of Speech</th>
                  <th>Count</th>
                  <th>Words</th>
                </tr>
              </thead>
              <tbody>
                <% for (const posTag in locals.posAnalysisResult) { %>
                <tr>
                  <td><%= posTag %></td>
                  <td><%= locals.posAnalysisResult[posTag].count %></td>
                  <td>
                    <%= locals.posAnalysisResult[posTag].words.join(", ") %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %> <% if (locals.nerResults) { %>
          <h2>Entities Analysis Result</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Entity Type</th>
                  <th>Entity Values (Count)</th>
                </tr>
              </thead>
              <tbody>
                <% for (const type in locals.nerResults.entityCounts) { %>
                <tr>
                  <td><%= type %></td>
                  <td>
                    <% const values = locals.nerResults.entities.filter(entity=> entity.type === type) .map(entity => entity.value)
                    .join(", "); %> <%= values %> (<%=
                    locals.nerResults.entityCounts[type] %>)
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %>
        </div>
      </div>
    </main>

    <!-- Include the footer partial -->
    <%- include('../partials/footer') %>

    <!-- Include the main client-side script -->
    <script type="module" src="js/text-analyzer.js"></script>
  </body>
</html>
